@model FridgeProduct.ViewModels.PaginatedList<FridgeProduct.ViewModels.ProductViewModel>
@{
    ViewBag.Title = "Продукты";
}

<a asp-action="create" asp-controller="products">Добавить продукты</a>
<table class="table">
    <tr><td>Название</td><td>Количество</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.Name</td><td>@item.DefaultQuantity</td></tr>
    }
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Details"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Prev
</a>

<a asp-action="Details"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>