@model FridgeProduct.BusinessLayer.Models.PaginatedList<FridgeProduct.BusinessLayer.Models.FridgeListItem>

@{
    ViewData["Title"] = "Index";
}

<h2>Список холодильников</h2>

<p>
    <a asp-action="Create">Добавить холодильник</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Модель
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Prev
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>

<div>
    <a asp-action="Index" asp-controller="home">Вернуться на главную</a>
</div>